
body {
    margin: 0;
    margin-top: 100px;
    font-family: 'Open Sans', sans-serif;
}

.navcontain {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 5;
}

.movilnav {
 display: none;
}

nav {
    background: linear-gradient(#3f3f3f,#1b1b1b);
    display: flex; 
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 0 30px;
    border-bottom: 3px solid #dd0000;
}


.logo {
    height: 30px;
}

.dropbtn {
    background: none;
    color: white;
    font-size: 16px;
    border: none;
    padding: 0 8px;
    height: 80px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid rgb(114, 114, 114);
    border-top: 3px solid #dd0000;
}

.dropdown-content-movil {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid rgb(114, 114, 114);
    border-top: 3px solid #dd0000;
}

.sd {
    right: -30px;
    width: 300px;
    
}

.iconContain {
    height: 36px;
    width: 36px;
    background: #696868;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.search {
    height: 30px;
    width: 100%;
}



.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.arrow {
    top: -6px;
    left: 20px;
    transform: rotateZ(-45deg);
    position: absolute;
    height: 5px;
    width: 5px;
    border-top: 3px solid red;
    border-right: 3px solid red;
}

.arrow1 {
    top: -6px;
    right: 40px;
    transform: rotateZ(-45deg);
    position: absolute;
    height: 5px;
    width: 5px;
    border-top: 3px solid red;
    border-right: 3px solid red;
}

.dropdown-content a:hover {background-color: rgb(128, 128, 128); color: #fff;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .sd { display: flex !important;}

.topbar {
    height: 20px;
    display: flex;
    align-items: center;
    background: #d1d1d1;   
}

.contain {
    width: 70vw;
    margin: 0 auto;
}

article {
    padding: 40px 0;
}

.headerPost {
    border-bottom: 1px solid #d1d1d1;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title {
    font-weight: 300;
    font-size: 30px;
    margin: 0;
    color: #202020;
}

.date {
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    color: #dd0000;
}

.socialContain label {
    font-size: 12px;
    color: #d1d1d1;
}

.socialContain a {
    color: #d1d1d1;
    margin: 10px 0 10px 25px;
    font-size: 18px;
}

.socialContain {
    text-align: right;
}

.wrap {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    padding: 40px 0 60px;
}

.wrap p {
    width: 60%;
    margin: 0;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 4px;
    width: 20px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #424242;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }


.mas {
      padding: 50px 0;
      background: #f1f1f1;
  }

.mas label {
      font-size: 30px;
      font-weight: 300;
  }

.wrapEntries {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }

.bg {
      background-image: url(src/img/4x/Asset\ 5@4x.png);
      background-size: cover;
      height: 130px;
      width: 320px;
  }

.tag {
      height: 100%;
      width: 60px;
      background: #000000f5;
      color: #fff;
      text-align: right;
      padding-right: 6px;
  }

.titleentrie {
      font-weight: 600;
      margin: 0;
  }

.footer1  {
      background: #202020;
      padding: 40px 0;
  }

.wrapfooter1 {
    display: flex;
    justify-content: space-between;
}

.suscribete label {
    color: #fff;
}

form {
    display: flex;
    margin-top: 10px;
}

.email {
    height: 40px;
    border-radius: 2px;
    border: none;
    margin-right: 8px;
    width: 100%;
    padding: 0 5px;
}

.enviar {
    background: #dd0000;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 0 27px;
    font-weight: 600;
    font-size: 16px;
    height: 40px;
}

.sf {
    text-align: left;
}

.sf label {
    font-size: 14px;
}

.sf a {
    margin: 10px 25px 10px 0;
}

.footer2 {
    background: #dd0000;
    padding: 10px 0;
}

.logof {
    height: 20px;
}

.wrapfooter2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapfooter2 p, .wrapfooter2 a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

.activem {
    display: flex !important;
}

.menu {
    display: none;
    top: -100px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    position: fixed;
    background: #1b1b1b;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.close {
    background: none;
    font-size: 40px;
    color: #fff;
}

.subbuttons {
    background: #3f3f3f !important;
}

@media screen and (max-width: 600px) {
    .socialContain {
        display: none;
    }

    .navContain {
        display: none;
    }

    .wrap p {
        width: 100%;
    }

    .contain {
        width:90%;
    }

    .sf {
        display: block !important;
        text-align: center;
        margin-top: 20px;
    }

    .sf label {
        font-size: 20px;
        font-weight: 600;
    }

    .sf a {
        font-size: 42px;
    }

    .wrapfooter1 {
        flex-wrap: wrap;
        justify-content: center;
    }

    form {
        flex-direction: column;
    }

    .email {
        margin-bottom: 10px;
        width: 97%;
    }
    
    .wrapfooter2 {
        flex-direction: column;
        align-items: center;
    }

    .wrapfooter2 p {
        display: none
    }

    .movilpoli {
        display: block !important;
        text-align: center;
        font-size: 18px;
    }

    nav {
        padding: 0 10px;
    }

    .movilnav {
        display: flex !important;
    }

    .searchActive {
        display: flex !important;
    }

    .sd {
        right: -10px;
        width: 300px;
        
    }

    .arrow1 {
        right: 20px;
    }
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
